doctype html
head 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Tienda de Productos
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css")
  link(rel="stylesheet", href=`/static/assets/main${dev ? '.css' : '.min.css'}`)
body(style='display: flex; min-height:100vh; flex-direction: column')
  script(defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous")
  include navbar.pug
  block hero
  block content
  include footer.pug
  
